.q1{
    background-color: #030313;
    padding-top: 20px;

}
.btn{
    padding: 8px 35px;
    background-image: linear-gradient(to right, #5986FF 46%, #A834FF 95%);
    color: white;
    margin-right: 30px;
}
.nav-link{
    color: white;
    font-weight: 700;
    font-size: 18px;

}
.navbar-nav{
    margin-left: 130px;
}
.q3{
    border-bottom: 3px solid #353542;
    padding-bottom: 10px;
}
.q6{
    color: #616161;
    font-weight: 700;
    font-size: 40px;
}
.q7{
    font-weight: 700;
    font-size: 40px;
    color: #518DFE;
}
.q8{
    font-weight: 700;
    font-size: 40px;
    color: #B625FE;
}