.q1{
    background-color: #030313;
    padding-top: 20px;

}
.btn{
    padding: 8px 35px;
    background-image: linear-gradient(to right, #5986FF 46%, #A834FF 95%);
    color: white;
    margin-right: 30px;
}
.nav-link{
    color: white;
    font-weight: 700;
    font-size: 18px;

}
.navbar-nav{
    margin-left: 130px;
}
.q3{
    border-bottom: 3px solid #353542;
    padding-bottom: 10px;
}
.q6{
    color: #616161;
    font-weight: 700;
    font-size: 45px;
}
.q7{
    font-weight: 700;
    font-size: 45px;
    color: #518DFE;
}
.q8{
    font-weight: 600;
    font-size: 45px;
    color: #B625FE;
}
.q9{

margin-left: 123px;
}
.q10{
    color: white;
    font-weight: 600;
}
.q12{
    padding: 15px 40px;
    background-image: linear-gradient(to right, #5986FF 46%, #A834FF 95%);
    color: white;
    font-weight: 700;
}
.q13{
    padding: 15px 40px;
    background-color: #13030d;
    color: white;
    border-radius: 25px;
    border: 2px solid  #A834FF;
    font-weight: 700;
    margin-left: -45px;
}
.w1{
    background-image: url(https://html.dreamitsolution.net/cryptobit/nft/assets/images/resource/feature-bg.jpg);
}
.w3{
    color: #A834FF;
}
.w4{
    color: #5986FF;
}
.w5{
    color: white;
    font-weight: 700;
    font-size: 37px;   
}
.e2{
    color: #A834FF;
    font-weight: 700;
}
.e3{
    color: white;
    font-weight: 700;
}.e4{
    color: #518DFE;
    font-weight: 700;
}
.e5{
    color: #A834FF;
    font-weight: 700;
}
.e1{
    background-color: #030313;
}
.q15{
    width: 300px;
    margin-left: 10px;

}
.r3{
    color: white;
    font-weight: 600;
}
.r2{
    border: 2px solid #A834FF;
}